torch==2.7.1
torch-geometric==2.7.0
scikit-learn==1.6.1
scikit-posthocs==0.11.4
scipy==1.15.3
numpy==2.2.6
networkx==3.4.2
tulip-python==5.6.3 # tulip-python 6.x.x for Python 3.13 and above
pandas==2.3.3

matplotlib==3.10.7
seaborn==0.13.2
jupyter==1.1.1
tqdm==4.67.1

#s_gd2 #s_gd2 only work with older numpy version. Please check requirements_sgd2.txt
